.container-fluid.fill
	.row.fill
		.col-md-7.vertical-scroll
			%br	
			%section.row
				.col-lg-3.col-md-12
					.form-group
						Rango de precios
				.col-lg-9.col-md-12
					#price
			%section.row.residences

			%ul#pagination.pagination-sm
		.col-md-5.fill.nopadding
			%section#map

%article#residence_template.col-sm-12.col-md-6{hidden: true}
	.image-wrapper
		= image_tag "", alt: nil, class: "img-responsive"
	.description-wrapper
		.text-description-wrapper
			.residence-title
			.private-room
				Habitación privada
		.favorite-price-wrapper
			%i.fa.fa-heart.fa-2x
				&nbsp;
			%span.price




= javascript_include_tag 'https://maps.googleapis.com/maps/api/js'
= javascript_include_tag 'jquery.twbsPagination'
= stylesheet_link_tag 'freshstyle'
= javascript_include_tag 'freshslider.1.0.0'

= javascript_tag do
	window.map_latitude = '#{@map_latitude}'
	window.map_longitude = '#{@map_longitude}'

	window.residences = JSON.parse('#{raw @residences}')
	window.university = JSON.parse('#{raw @university.to_json}')

	window.residence_marker_url = "#{image_url('map-marker.png')}"
	window.residence_marker_gray_url = "#{image_url('map-marker-gray.png')}"
	
	window.university_marker_url = "#{image_url('university-marker.png')}"
