.container-fluid.fill
	.row.fill
		.col-md-7.vertical-scroll
			%br	
			%section.row
				.col-lg-3.col-md-12
					.form-group
						Rango de precios
				.col-lg-9.col-md-12
					#price
			%section.row.residences
				- @residences.each do |residence|
					%article{id: "residence-#{residence.id}", class: "col-sm-12 col-md-6"}
						.image-wrapper
							= image_tag residence.pictures.first.try(:medium), alt: nil, class: "img-responsive"
						.description-wrapper
							.text-description-wrapper
								.residence-title
									= residence.name
								.private-room
									Habitación privada
							.favorite-price-wrapper
								%i.fa.fa-heart.fa-2x
									&nbsp;
								%span.price
									= number_to_currency(residence.price, precision: 0)

		.col-md-5.fill.nopadding
			%section#map

= javascript_include_tag 'https://maps.googleapis.com/maps/api/js'
= stylesheet_link_tag 'freshstyle'
= javascript_include_tag 'freshslider.1.0.0'

= javascript_tag do
	window.map_latitude = '#{@map_latitude}'
	window.map_longitude = '#{@map_longitude}'
	window.markers = '#{raw @markers.to_json}'
	window.marker_image_url = "#{image_url('map-marker.png')}"
