#SignIn.modal.fade{role: "dialog"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-body
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %br
        %br
        = form_for(User.new, as: :user,
          url: session_path(:user), html: {role: 'form'}) do |f|
          .form-group
            = f.email_field :email, class: 'form-control', placeholder: 'Correo electrónico', autofocus: true
          .form-group
            = f.password_field :password, class: 'form-control', placeholder: 'Contraseña', autocomplete: "off"
          - if devise_mapping.rememberable?
            .checkbox
              %label
                = f.check_box :remember_me
                Recordarme
          - if devise_mapping.recoverable?
            .checkbox.alignright
              = link_to "¿Has olvidado tu contraseña?", new_password_path(:user)
          = f.submit "Iniciar sesión", class: 'btn btn-conf-2 btn-green btn-block'
      .modal-footer
        - if devise_mapping.registerable?
          ¿No tienes una cuenta?
          = link_to "Regístrate", '#', class: 'change-modal'
          %br/
