= form_for @residence, html: { multipart: true } do |f|
  - if @residence.errors.any?
    #error_explanation
      %ul
        - @residence.errors.messages.each do |msg|
          - msg.last.each do |m|
            %li= m

  .field
    = f.label :name, I18n.t('activerecord.fields.residence.name')
    = f.text_field :name
  .field
    = f.label :address, I18n.t('activerecord.fields.residence.address')
    = f.text_field :address
  .field
    = f.label :price, I18n.t('activerecord.fields.residence.price')
    = f.text_field :price
  .field
    = f.label :square_meters, I18n.t('activerecord.fields.residence.square_meters')
    = f.number_field :square_meters
  .field
    = f.label :description, I18n.t('activerecord.fields.residence.description')
    = f.text_area :description
  .field
    = f.label :rooms, I18n.t('activerecord.fields.residence.rooms')
    = f.number_field :rooms

  - if action_name == 'edit'
    - @actual_pictures.each do |actual_picture|
      .picture-container
        = image_tag actual_picture.picture_url
        %p= link_to 'Destroy', destroy_picture_path(actual_picture), class: 'delete-picture-link', method: :delete, data: { :confirm => 'Are you sure?' }, remote: true

  = f.fields_for :pictures, @residence.pictures.new do |builder|
    .field
      = builder.label :picture, I18n.t('activerecord.fields.residence.images')
      %br/
      = builder.file_field :picture, multiple: true, name: "pictures[picture][]"

  .actions
    = f.submit 'Guardar'
