%h1 Listing residences

%table
  %thead
    %tr
      %th Name
      %th Address
      %th Price
      %th Price
      %th Square meters
      %th Description
      %th Rooms
      %th User
      %th
      %th
      %th

  %tbody
    - @residences.each do |residence|
      %tr
        %td= residence.name
        %td= residence.address
        %td= residence.price
        %td= residence.price
        %td= residence.square_meters
        %td= residence.description
        %td= residence.rooms
        %td= residence.user
        %td= link_to 'Show', residence
        %td= link_to 'Edit', edit_residence_path(residence)
        %td= link_to 'Destroy', residence, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Residence', new_residence_path
