%p#notice= notice

%p
  %b Name:
  = @residence.name
%p
  %b Address:
  = @residence.address
%p
  %b Price:
  = @residence.price
%p
  %b Square meters:
  = @residence.square_meters
%p
  %b Description:
  = @residence.description
%p
  %b Rooms:
  = @residence.rooms
- @pictures.each do |picture|
  .picture-container
    = image_tag picture.picture.thumb
    %p= link_to 'Destroy', destroy_picture_path(picture), class: 'delete-picture-link', method: :delete, data: { :confirm => 'Are you sure?' }, remote: true

= link_to 'Edit', edit_residence_path(@residence)
\|
= link_to 'Back', residences_path
